div.experience-accordion-container {
  flex: 1;
  position: relative;
  min-inline-size: 100%;
}

.experience-container {
  /* flex: 1; */
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: white;

  padding: 0.5em 0.5em 0em 0.5em;
  max-inline-size: 17.5em;
  max-block-size: 22.5em;

  inline-size: 100%;
  block-size: 90%;
  cursor: pointer;
  visibility: hidden;
  animation: 800ms slideInBottom 400ms forwards,
    10400ms bouncy 1800ms forwards infinite;
}
@keyframes bouncy {
  from,
  to {
    transform: scale(1, 1);
  }
  2% {
    transform: scale(0.9, 1.1);
  }
  4% {
    transform: scale(1.1, 0.9);
  }
  8% {
    transform: scale(0.95, 1.05);
  }
  12% {
    transform: scale(1, 1);
  }
}
.experience-container.selected {
  visibility: visible;
  max-block-size: unset;
  max-inline-size: unset;
  z-index: 5;

  opacity: 1;

  animation: 1s fadeToTop, 0.75s scaleExperience 1s forwards,
    1s slideInTop 0.75s;
}

.experience-container.selected .experience-title-container,
.experience-container.selected div.MuiChip-root {
  color: var(--headline-dark);
  transition: 0s color 1s;
}
@keyframes scaleExperience {
  0% {
    position: absolute;
    inline-size: 85vw;
    block-size: 0vh;
    left: 7.5vw;
    top: 8vh;
  }

  100% {
    position: absolute;
    inline-size: 85vw;
    block-size: 60vh;
    left: 7.5vw;
    top: 8vh;
    padding: 1em;
  }
}

.experience-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  inline-size: 100%;

  align-items: center;
  min-block-size: 2em;
  block-size: 15%;
}
.experience-content {
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
}

div.experience-accordion-content-container {
  padding: 0.5em 1em 1em 1em;
}

div.experience-accordion-content {
  max-block-size: calc(var(--100vh) * 0.33);
  overflow-y: auto;
}

.experience-location {
  font-size: 14px;
  inline-size: 100%;
  text-align: right;
  letter-spacing: 0.075em;
  font-style: italic;
  /* text-decoration: ; */
  margin: 0;
  margin-block-end: 0.2em;
  /* flex: 1; */
}
.experience-duration {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 8px;
  align-self: flex-end;
  font-style: italic;
  text-wrap: nowrap;
  flex: 1;
}

.experience-description {
  text-align: left;
  flex: 3;
  font-size: 12px;
}

.experience-title {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

div.experience-accordion-container.Mui-expanded {
  position: absolute;
  top: 0;
  z-index: 100;
  margin: 0;
}

div.experience-accordion-title {
  min-block-size: 5em;
}

@media only screen and (min-width: 920px) {
  div.experience-accordion-container.Mui-expanded {
    block-size: 100%;
  }
  .experience-description {
    font-size: 16px;
  }

  .experience-duration {
    font-size: 12px;

    position: relative;
  }
}
.experience-container span.experience-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.fader {
  position: absolute;
  bottom: 0;
  block-size: 10%;
  inline-size: calc(100% - 1em);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0.75) 40%,
    rgba(255, 255, 255, 0.95) 90%,
    rgba(255, 255, 255, 1) 100%
  );
}

@keyframes notice {
  0% {
    transform: scale(1, 1);
  }
  5% {
    transform: scale(0.7, 0.7);
  }
  10% {
    transform: scale(1.5, 1.5);
  }
  15% {
    transform: scale(1.1, 1.1);
  }
  20% {
    transform: scale(1.4, 1.4);
  }
  30% {
    transform: scale(1.1, 1.1);
  }
}
