@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Six+Caps&display=swap");

html {
  background-color: var(--background);
  --100vh: 100vh;

  --primary: #18416b;
  --headline-dark: #18416b;
  --soft: #7caee1;
  --normal: #3985d2;
  --normal-text: #393939;
  --light-green: #acbca4;
  --light-red: #d4a4ac;
  --background: #f4f7fa;
  --dk-background: #333;
  --divider: #d1d5db;
  --detail: #e31b6d;
  /* --detail: #3985d2; */
}

#root {
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--normal-text);
  background-color: var(--background);

  text-align: center;
  --padding: 1em;
  --padding-inline: 1em;
  --padding-block: 0.5em;
  inline-size: 100vw;
  block-size: 100vh;

  --header-footer-block-size: 4%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, serif;
  font-weight: 500;
  text-align: left;
  margin: 0;
}

.portfolio-container {
  position: relative;
  display: flex;
  flex-direction: column;
  block-size: 100%;
  inline-size: 100%;

  overflow-x: hidden;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: calc(100% - calc(var(--padding) * 0));

  background-color: var(--background);

  margin-block-start: 4%;
}

div.content-container {
  display: flex;
  inline-size: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  block-size: calc(100% - 2em);
  min-block-size: var(--100vh);
  inline-size: calc(100% - 2em);
  padding: 1em;
}

div.fullpage-wrapper {
  inline-size: 100%;
}

div#fp-nav.fp-right {
  right: 0px;
  top: 100%;
  transform: translateY(-100%);
}

div#fp-nav.fp-right.hidden {
  animation: fadeOut 1s forwards;
}

/* width */
::-webkit-scrollbar {
  width: 0.65em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--detail);
  border-radius: 8px;
  padding: 0.05em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-red);
}
