html {
  background-color: var(--background);
}

#root {
  --primary: #18416b;
  --detail: #7caee1;
  --normal: #9ec0f8;
  --normal-text: #393939;
  --light-green: #acbca4;
  --light-red: #d4a4ac;
  --background: #f4f7fa;
  --divider: #d1d5db;

  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--normal-text);
  background-color: var(--background);

  text-align: center;
  --padding: 1em;
  /* padding: var(--padding); */
  inline-size: 100vw;
  block-size: 100vh;

  --header-footer-block-size: 7%;
}

.heading {
  /* font-family: Merriweather, serif; */
  font-weight: 600;
  text-align: left;
}

.portfolio-container {
  position: relative;
  display: flex;
  flex-direction: column;
  block-size: 100%;
  inline-size: 100%;

  /* align-items: center; */
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: var(--padding); */
  inline-size: calc(100% - calc(var(--padding) * 0));
  block-size: calc(
    100% - calc(var(--padding) * 2) - calc(var(--header-footer-block-size) * 2)
  );

  /* block-size: calc(100% ); */
  background-color: var(--background);
  /* overflow-y: auto; */
}

section.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  block-size: 100%;
  inline-size: 100%;
  min-block-size: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  block-size: calc(100% - 2em);
  inline-size: calc(100% - 2em);
  min-block-size: calc(100vh - 2em);
  padding: 1em;
}

div.fullpage-wrapper {
  inline-size: 100%;
}

div#fp-nav.fp-right {
  right: 0px;
  top: 94%;
}
/* width */
::-webkit-scrollbar {
  width: 0.65em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--detail);
}
