.about-content-container {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2.sagiv-logo {
  font-family: Montserrat, sans-serif;
  font-family: Raleway, sans-serif;
  font-size: 42px;
  letter-spacing: 0.03em;

  user-select: none;
  white-space-collapse: preserve;
  font-weight: 700;
  align-self: flex-start;
  /* stroke: black; */
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
  animation: slideInRight 1s ease both;
  block-size: 10%;
}
div.about-content {
  display: flex;
  inline-size: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-block-size: unset;
}

section.about-container {
  justify-content: flex-end;
}

.top-content-container,
.bottom-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-content-container {
  inline-size: 100%;

  flex-wrap: wrap;
  margin-block-end: 2em;
  block-size: 35%;
}

.bottom-content-container {
  block-size: 65%;
  inline-size: 100%;
}

.bottom-content {
  display: flex;
  block-size: 100%;
  inline-size: 90%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  gap: 1em;
}

.about-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  inline-size: 45%;
  animation: 550ms flipInX 500ms ease both;
}

.hexagon {
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);

  width: 4em;
  height: 3em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.85em;
  background-color: var(--soft);
  margin-block-end: 1em;
}

.hexagon-wrap {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.075));

  transition: filter 200ms step-start;
}

h4.about-item-title,
h4.about-me-title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

p.about-item-content,
p.about-me-content {
  margin: 0;
  /* inline-size: 70%; */
}

h4.about-me-title {
  margin-block-end: 0.5em;
}

p.about-me-content {
  inline-size: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg.about-item-icon {
  font-size: 2.885em;
  color: white;
  transition: font-size 200ms step-start;
}

.about-item-container:hover svg.about-item-icon {
  font-size: 3.3em;
  transition: font-size 200ms ease;
}

.about-item-container:hover .hexagon-wrap {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  transition: filter 200ms ease;
}

.about-items {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
  inline-size: 90%;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

div.profile-avatar {
  /* animation: flipInX 0.75s ease both; */
  block-size: 11em;
  inline-size: 11em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px 1px;

  border-radius: 0px;
}

div.profile-image-container {
  position: relative;
  margin-block-end: 1em;
  animation: slideInRight 0.7s;

  /* box-shadow: ; */

  box-shadow: rgba(28, 48, 35, 0.32) 0px 12px 28px 0px,
    rgba(28, 48, 35, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  /* box-shadow: rgba(28, 48, 35, 0.1) 0px 8px 24px,
    rgba(28, 48, 35, 0.1) 0px 16px 56px, rgba(28, 48, 35, 0.1) 0px 24px 80px; */
}

.general-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  inline-size: unset;
}

a.contact {
  line-height: 1.75;
  font-weight: 500;
  font-size: 18px;
  color: var(--soft);
}

.blinking-dot {
  display: inline-block;
  position: relative;
  width: 0.15em;
  height: 0.15em;
  background-color: var(--detail);
  border-radius: 50%;
  filter: brightness(1);
  animation: blink 10s forwards infinite;
}

.skillset {
  position: relative;

  margin-block: 2em;
  inline-size: 100%;
}

.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  z-index: 1;
  background-color: var(--background);
  padding: 0.5em;
  border-radius: 5px;
  visibility: hidden;
  animation: 700ms slideInLeft 500ms forwards;
}

div.bubble {
  block-size: 12em;
  inline-size: 12em;
  border-radius: 60% 40% 40% 20% / 30% 70% 50% 75%;
  border-radius: 50%;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  position: absolute;
  left: -2em;
  top: -3em;
  display: inline-block;
  z-index: 0;
  opacity: 1;
  visibility: hidden;
  /* animation: blink 10s forwards infinite; */
  animation: 500ms slideInRight 300ms forwards;

  background: linear-gradient(
    170deg,
    var(--background) 0%,
    var(--background) 5.67%,
    #fbe0eb 13.34%,
    #f9d1e1 20.01%,
    #f8c1d8 26.68%,
    #f6b2ce 33.35%,
    #f4a3c4 40.02%,
    #f294ba 46.69%,
    #f085b1 53.36%,
    #ef75a7 60.03%,
    #ed669d 66.7%,
    #eb5794 73.37%,
    #e9488a 80.04%,
    #e73980 86.71%,
    #e62977 93.38%,
    var(--detail) 100%
  );
  /* animation: rotateBubble 1s infinite; */
}

@media only screen and (min-width: 768px) {
  .hexagon {
    width: 5em;
    height: 4em;
  }
  h2.sagiv-logo {
    font-size: 62px;
    /* margin-block-end: 1em; */
  }

  .about-items {
    flex-wrap: unset;
    /* overflow-y: auto; */
  }

  .top-content-container {
    flex-wrap: unset;
    margin-block-end: unset;
    block-size: 30%;
  }

  .bottom-content-container {
    block-size: 70%;
  }
  .about-item-container {
    inline-size: 25%;
  }

  div.about-content {
    min-block-size: 90%;
  }

  .bottom-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .general-info-container {
    inline-size: calc(50% - 0.5em);
  }
  .skillset {
    inline-size: 50%;
    inline-size: calc(50% - 0.5em);
    margin-block: unset;
  }
  div.bubble {
    left: -5.5em;
  }
}

@keyframes slideInRightBubble {
  0% {
    left: 0;
  }
  100% {
    left: -5.5em;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
    right: 0em;
    top: 0;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    width: 0.15em;
    height: 0.15em;
  }

  42% {
    width: 0.15em;
    height: 0.15em;
    right: 0em;
    top: 0;
  }
  45% {
    width: 0.55em;
    height: 0.55em;
    right: 0.2em;
    top: 0.2em;
    filter: brightness(1);
  }
  48.5% {
    filter: brightness(1.5);
    width: 0.55em;
    height: 0.55em;
    right: 0.2em;
    top: 0.2em;
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 0.15em;
    height: 0.15em;
    right: 0;
    top: 0;
    filter: brightness(1);
  }
}

@keyframes hover-v {
  0% {
    transform: scaleX(0);
    block-size: 3px;
    color: white;
  }
  45% {
    transform: scaleX(1.05);
    block-size: 3px;
    color: white;
  }
  55% {
    block-size: 3px;
    color: white;
  }
  100% {
    transform: scaleX(1.05);
    block-size: 100%;

    color: white;
  }
}
@keyframes no-hover-v {
  0% {
    transform: scaleX(1.05);
    block-size: 100%;
  }
  45% {
    block-size: 0%;
  }
  55% {
    transform: scaleX(1.05);
    block-size: 0%;
    opacity: 1;
  }

  100% {
    transform: scaleX(0);
    block-size: 0%;
    opacity: 0.02;
  }
}
