section.skills-container {
  inline-size: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: center; */
}

.skills-title {
  display: inline;
}

.skills-list {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

li.skill {
  display: inline;
}
.skills-content-container {
  inline-size: 100%;
  block-size: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}
