.body-container section.contact-footer-container {
  gap: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact-footer {
  inline-size: 100%;
  block-size: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-container {
  display: flex;
  flex-direction: row;
  inline-size: 85%;
  justify-content: space-between;
}

.contact-link {
  color: var(--detail);
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.contact-icon {
  width: 1.5em;
  height: 1.5em;
}

.contact-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
