.project {
  inline-size: calc(100% - 2em);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  background-color: rgba(180, 180, 180, 0.356);
  /* background: url("../../../../assets/projects/skeleton/skeleton.png"); */
  filter: brightness(50%);

  padding: 1em;
  border-radius: 15px;
  min-block-size: 18vh;
  transition: inline-size 500ms ease-out;
}
.project.selected {
  filter: brightness(100%);
  transition: filter 500ms;
  /* inline-size: 300%; */
}

.project.expanded {
  position: absolute;
  left: 5%;
  top: 10%;
  min-block-size: calc(var(--100vh) - 20%);
  inline-size: 80%;
  background-size: calc(var(--100vh)) !important;
  transition: min-block-size 500ms;
  z-index: 10;
  /* background-color: black; */
}

.project.expanded .background {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 40%,
    black 60%,
    black 100%
  );
  height: 100%;
  border-radius: 15px 15px 5px 5px;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  /* color: white; */
}

.project-image {
  inline-size: 100%;
  max-block-size: 38.85em;
}

.projects-container .slide .fp-overflow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  inline-size: 90%;
}

.project-title {
  color: var(--detail);
  text-wrap: nowrap;
  background-color: #fff;
  padding-block: 0.1em;
  padding-inline: 0.5em;
  border-radius: 5px;
  z-index: 1;
}

.project-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  inline-size: 90%;
  max-inline-size: 50vw;
}

.project .project-content {
  opacity: 0;
  /* max-block-size: 10vh; */
  /* overflow-y: auto; */
}

.project.selected .project-content {
  max-inline-size: 95%;
  animation: 400ms fadeIn 300ms forwards ease-out;
  color: #fff;
  padding-block: 0.1em;
  padding-inline: 0.5em;
  background-color: var(--detail);
  border-radius: 5px;
}

.minimize-project-container {
  cursor: pointer;
}

.minimize-project-container svg {
  fill: var(--normal-text);
}

.project-controls {
  position: absolute;
  right: 1%;
  gap: 0.5em;
  top: -1.65em;
  /* background-color: #fff; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

svg.project-control {
  color: white;
  width: 1.125em;
  height: 1.125em;
  /* border-right: 1px solid black; */
}

div.background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* transform: translateX(5%) translateY(5%); */

  /* opacity: 0.3; */

  border-radius: 15px;
  /* background-color: #fff; */
}

.project.expanded div.background {
  opacity: 1;
  filter: brightness(20%) blur(0.2em);
}

@media only screen and (min-width: 768px) {
  .project {
    inline-size: calc(50% - 3.5em);
    max-inline-size: calc(50% - 3.5em);
  }
  .project.expanded {
    max-inline-size: unset;
  }
}

@media only screen and (min-width: 1068px) {
  .project {
    inline-size: calc(33% - 3.5em);
    max-inline-size: calc(33% - 3.5em);
    min-block-size: 20vh;
  }

  .project.expanded {
    max-inline-size: unset;
  }

  div.background {
    background-size: 200% !important;
  }
}
