.footer-container {
  /* padding: var(--padding); */
  inline-size: 100%;
  /* block-size: calc(var(--header-footer-block-size) - calc(var(--padding) * 2)); */

  /* block-size: 10%; */
  background-color: var(--background);

  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
