section.career-experience-section-container {
  margin-block-end: 3em;
}

div.career-experience-content-container {
  inline-size: 100%;
  block-size: 92.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.career-experience-container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;

  gap: 1em;

  align-items: flex-start;
  justify-items: center;
}

.summary {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}

.summary-container {
  block-size: 15%;
  animation: slideInTop 500ms ease;
  margin-block-end: 1.25em;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  section.career-experience-section-container {
  }
}
