section.projects-container {
  flex-direction: row;
  inline-size: calc(98% - 2em);
  gap: 1em;
  padding-block-start: 3em;
  block-size: calc(var(--100vh) - calc(var(--100vh) * 0.1632));
}

div.content-container.projects-content-container {
  block-size: 100%;
}
.projects-container .slide div.fp-overflow {
  flex-direction: column;
  gap: 1em;
}

.projects-container .fp-slides {
  inline-size: 100%;
}
@media only screen and (min-width: 768px) {
  .projects-container .slide div.fp-overflow {
    flex-direction: row;
  }
}
